FORMAT: 1A
HOST: https://api.ngabarin.id/

# Ngabarin Consumer API

Dokumen ini digunakan untuk mengintegrasikan layanan ngabarin dengan website atau 
aplikasi anda menggunakan REST API. Untuk mendapatkan data secara real time, bisa
menggunakan koneksi websocket atau webhook.

Gunakan Ngabarin API Token pada setiap request.

# Format Respon:

Semua parameter dan key pada Request maupun Response menggunakan bahasa inggris dengan format snake case (huruf kecil yang dipisahkan dengan underscore).

Sukses 200
```
{
    "id":1,
    "username": "tegarimansyah"
}
```

Gagal 400, 401, 403, 404
```
{
    "result_code":1,
    "error_msg": "Registration Error",
    "error_desc": "Registration error, username or email already used",
    "error_info":  "http://docs.ngabarin.id/registration"
}
```

| HTTP Code | Status | Meaning |
|:---------:|--------------|:-----------------------------------------:|
| 200 | OK | Request execute successfully |
| 201 | Created | Request write on db successfully |
| 400 | Bad Request | Invalid format, check docs |
| 401 | Unauthorized | Use Authorization header or correct token |
| 403 | Forbidden | The path is not belong to you |
| 404 | Not Found | The path is not available |

# Group Konektivitas Cloud

## PING  [/ping]

### PING [GET /ping]
+ Requests 

    + Headers
    
            NGABARIN-TOKEN: NGABARIN-USER-TOKEN
            
+ Response 200 (application/json)

        {
            "response": "OK"
        }
        
+ Response 403 (application/json)

        {
            "result_code":1,
            "error_msg": "Unauthorized",
            "error_desc": "Unauthorized data request",
            "error_info":  "https://ngabarin.docs.apiary.io/#reference/login-dan-logout"
        }
        
# Group Login dan Logout

## Login [/login]

### Login [POST /login]

+ Request (application/json)
    Untuk mendapatkan token. Token digunakan untuk melakukan pemanggilan API lainnya.

    + Body

            {
                "username":"your_username",
                "password":"password"
            }

+ Response 200 (application/json)

        {
            "token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MzcyODQ3NTgsImlhdCI6MTUzNzE5ODMzOCwic3ViIjoxfQ.PgUyBkJhoOmTBny2aetjzpS-R2NS_H1E1KcC90iyaXg",
            "token_expire": "2019-07-01T14:54:54-04:00",
            "token_expire_unix": 1562007294000,
            "status":"Logged In"
        }

+ Response 403 (application/json)

        {
            "result_code":1,
            "error_msg": "Login Error",
            "error_desc": "Login error, check your username or password",
            "error_info":  "http://docs.ngabarin.id/login"
        }

### Refresh Token [GET /login/refresh]

+ Request (application/json)
    Untuk mendapatkan token sebelum expire. Token digunakan untuk melakukan pemanggilan API lainnya.

    + Header

        NGABARIN-TOKEN: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MzcyODQ3NTgsImlhdCI6MTUzNzE5ODMzOCwic3ViIjoxfQ.PgUyBkJhoOmTBny2aetjzpS-R2NS_H1E1KcC90iyaXg

+ Response 200 (application/json)

        {
            "token":"Exa123ddWeXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MzcyODQ3NTgsImlhdCI6MTUzNzE5ODMzOCwic3ViIjoxfQ.PgUyBkJhoOmTBny2aetjzpS-R2NS_H1E1KcC90iyaXg",
            "token_expire": "2019-07-01T14:54:54-04:00",
            "token_expire_unix": 1562007294000,
            "status":"New Token"
        }

+ Response 403 (application/json)

        {
            "result_code":1,
            "error_msg": "Refresh Error",
            "error_desc": "Token invalid, please login.",
            "error_info":  "http://docs.ngabarin.id/login"
        }

## Logout [/logout]

Dengan melakukan proses logout, server akan menandai berakhirnya sesi user dan token tidak dapat digunakan lagi hingga proses login ulang.

### Logout [GET /logout]

+ Request (application/json)
    Untuk menghapus akses token.

    + Header

        NGABARIN-TOKEN: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MzcyODQ3NTgsImlhdCI6MTUzNzE5ODMzOCwic3ViIjoxfQ.PgUyBkJhoOmTBny2aetjzpS-R2NS_H1E1KcC90iyaXg

+ Response 200 (application/json)

        {
            "token":"eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1MzcyODQ3NTgsImlhdCI6MTUzNzE5ODMzOCwic3ViIjoxfQ.PgUyBkJhoOmTBny2aetjzpS-R2NS_H1E1KcC90iyaXg",
            "token_expire": "2019-07-01T14:54:54-04:00",
            "token_expire_unix": 1562007294000,
            "status":"Blacklisted"
        }

+ Response 403 (application/json)

        {
            "result_code":1,
            "error_msg": "Refresh Error",
            "error_desc": "Token invalid, please login.",
            "error_info":  "http://docs.ngabarin.id/login"
        }

# Group Data Pengguna

## Mendapatkan Data Pengguna [/user]

### Mendapatkan Minimal Data [GET /user]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Tertentu [GET /user?extends=]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Semua Project Pengguna [GET /user?extends=projects]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Semua Data Pengguna [GET /user?extends=all]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

## Update Data Pengguna [/userd]

### Melakukan Update Data Pengguna [POST /user]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Membuat Project Baru [PUT /user/new_projects]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

# Group Data Project

## Mendapatkan Data Project [/project]

### Mendapatkan Minimal Data [GET /project/{nama_project}]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Tertentu [GET /project/{nama_project}?extends=]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Semua Data Pengguna [GET /project/{nama_project}?extends=all]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

## Update Data Project [/projectd]

### Melakukan Update Data Project [POST /project/{nama_project}]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Membuat Project Baru [PUT /project/{nama_project}/new_data]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

# Group Data Sensor dan Aktuator

## Mendapatkan Data Sensor [/sensor]

### Mendapatkan Data Terbaru Semua Sensor [GET /project/{nama_project}/sensor]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Dalam Range Waktu Semua Sensor [GET /project/{nama_project}/sensor?from=&until=]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Terbaru Spesifik Sensor [GET /project/{nama_project}/sensor/{nama_sensor}]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Dalam Range Waktu Spesifik Sensor [GET /project/{nama_project}/sensor/{nama_sensor}?from=&until=]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

## Mengatur Data Aktuator [/aktuator]

### Mendapatkan Data Terbaru Semua Aktuator [GET /project/{nama_project}/actuator]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Dalam Range Waktu Semua Aktuator [GET /project/{nama_project}/actuator?from=&until=]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Terbaru Spesifik Aktuator [GET /project/{nama_project}/actuator/{nama_aktuator}]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mendapatkan Data Dalam Range Waktu Spesifik Aktuator [GET /project/{nama_project}/actuator/{nama_aktuator}?from=&until=]

+ Response 200 (application/json)

        {
            "response": "OK"
        }

### Mengubah Data Spesifik Aktuator [PUT /project/{nama_project}/actuator]

+ Response 200 (application/json)

        {
            "response": "OK"
        }